/* COLORS */
@import url("./frappe.css");


* {
    all: unset;
    font-family: 'MesloLGS Nerd Font', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

#waybar {
    font-size: 14px;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

#clock, 
#workspaces,
#custom-power,
#network,
#pulseaudio,
#battery {
    background-color: @surface0;
    color: @text;
    padding: 2px 8px;
    border-radius: 4px;
    margin: 4px 1px 0;
}

#custom-power {
    padding-right: 11px;
    color: @maroon;
}

#pulseaudio.muted {
    color: @red;
}

menu {
	border-radius: 4px;
	background: @surface2;
    padding: 2px 2px;
}

menuitem {
	border-radius: 2px;
    padding: 4px 8px;
}

menuitem:hover {
    background: @surface1;
}

separator {
    background-color: @overlay1;
}